<!DOCTYPE html>
<html>
<head>
    <title>LoadingView</title>
</head>

<body>
    <div data-win-control="VisiWin.UI.View" data-win-options='{"style":"Custom.Default","title":"Page is loading, please wait..."}'>
        <div data-win-control="VisiWin.UI.FlexLayout" data-win-options='{"style":"Custom.Default","width":"100%","height":"100%","alignItems":"Center","justifyContent":"Center"}'>
            <div data-win-control="VisiWin.UI.LoadingSpinner" data-win-options='{"style":"Custom.Default","width":"100%","height":"100%","spinnerHeight":"200px","spinnerWidth":"200px","loadingSpinner":"spinner8"}'></div>
        </div>
    </div>
</body>
</html>