

/*------------------ Lenze.UI.RecipesControl -----------------------------*/
.lenze-recipescontrol {
  white-space: pre;    
}

/*------------------ VisiWin.UI.AppSideNavLayout -----------------------------*/

.vw-appsidenavlayout__scrim.in {
    background-color: transparent;
}

.vw-appsidenavlayout__scrim {
    background-color: transparent;
}

.vw-popup__scrim {
    background-color: rgba(104,104,104,0.3) !important;
}

/*------------------ ErrorView -----------------------------*/
#errorview{
    background-image: url('../../images/bitmaps/ooops.jpg');
    background-repeat: no-repeat;
    background-position: center top !important;
    background-size: cover !important;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;   
}

/*------------------ AppShell -----------------------------*/
@media screen and (min-width: 0px) and (max-width: 650px) {
    #usernametitle{
      display: none;
    }
    #flexoptions{
      width: 300px !important;
    }
  }


@media screen and (min-width: 0px) and (max-width: 520px) {
    #navigationtitle{
      display:none;
    }

    #clocktitle{
      display: none;
    }
    #flexoptions{
      width: 150px !important;
  }
}

/*Donem estil a l'abre de configuració*/
.tree{
  --spacing : 1.5rem;
  --radius  : 10px;
}

.tree li{
  display      : block;
  position     : relative;
  padding-left : calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree ul{
  margin-left  : calc(var(--radius) - var(--spacing));
  padding-left : 0;
}

/*Linies verticals de l'arbre*/
.tree ul li{
  border-left : 2px solid #ddd;
}

.tree ul li:last-child{
  border-color : transparent;
}
/*Linies horitzontals de l'arbre*/
.tree ul li::before{
  content      : '';
  display      : block;
  position     : absolute;
  top          : calc(var(--spacing) / -2);
  left         : -2px;
  width        : calc(var(--spacing) + 2px);
  height       : calc(var(--spacing) + 1px);
  border       : solid #ddd;
  border-width : 0 0 2px 2px;
}

/*Eliminem els estils de sumary*/
.tree summary{
  display : block;
  cursor  : pointer;
}

.tree summary::marker,
.tree summary::-webkit-details-marker{
  display : none;
}

.tree summary:focus{
  outline : none;
}

.tree summary:focus-visible{
  outline : 1px dotted #000;
}

/*Estil de les icones de l'arbre*/
.tree li::after,
.tree summary::before{
  content       : '';
  display       : block;
  position      : absolute;
  top           : calc(var(--spacing) / 2 - var(--radius));
  left          : calc(var(--spacing) - var(--radius) - 1px);
  width         : calc(2 * var(--radius));
  height        : calc(2 * var(--radius));
  border-radius : 50%;
  background    : #ddd;
}
.tree .parent::before {
  z-index: 1;
  background: rgb(255, 182, 46) url('../../images/svgs/expand-collapse.svg') 0 0;
}

.tree details[open] > .parent::before {
  background-position: calc(-2 * var(--radius)) 0;
}


