<!DOCTYPE html>
<html lang="">
<!--Based on LenzeCyan style-->

<head>
    <title>ParametersView</title>
</head>

<body>
    <div data-win-control="VisiWin.UI.View" data-win-options="{style:'Custom.Default'}">
        <div data-win-control="VisiWin.UI.FlexLayout"
            data-win-options="{style:'Custom.Default',height:'100%', width:'100%'}">
            <div data-win-control="VisiWin.UI.Label"
                data-win-options="{style:'Custom.Default',text:'ParametersView'}"></div>
	        <div data-win-control="VisiWin.UI.NumericVarIn" data-win-options="{style:'Custom.Default'}" data-win-actions='{"triggers":[{"type":"VisiWin.Triggers.ControlEventTrigger","eventName":"onClick","triggeredActions":[{"type":"Lenze.Actions.ShowKeyboardDialogAction"}]}]}'></div>
	        <div data-win-control="VisiWin.UI.NumericVarIn" data-win-options='{"style":"Custom.Default"}' data-win-actions='{"triggers":[{"type":"VisiWin.Triggers.ControlEventTrigger","eventName":"onClick","triggeredActions":[{"type":"Lenze.Actions.ShowKeyboardDialogAction"}]}]}'></div>
	        <div data-win-control="VisiWin.UI.NumericVarIn" data-win-options='{"style":"Custom.Default"}' data-win-actions='{"triggers":[{"type":"VisiWin.Triggers.ControlEventTrigger","eventName":"onClick","triggeredActions":[{"type":"Lenze.Actions.ShowKeyboardDialogAction"}]}]}'></div>
	        <div data-win-control="VisiWin.UI.NumericVarIn" data-win-options='{"style":"Custom.Default"}' data-win-actions='{"triggers":[{"type":"VisiWin.Triggers.ControlEventTrigger","eventName":"onClick","triggeredActions":[{"type":"Lenze.Actions.ShowKeyboardDialogAction"}]}]}'></div>
        </div>
    </div>
</body>

</html>