<?xml version="1.0" encoding="utf-8"?>
<ProjectRestrictions>
	<DesignSystem visible="true">
		<!--In diesem Bereich können unterhalb der Designknoten Pfade und Dateien augeblendet werden.-->
		<DesignItems>
			<Folders>
				<Folder name="images" visible="true">
					<Folders>
						<Folder name="iconfonts" />
					</Folders>
				</Folder>
				<!--Folder name="resources" /-->
				<Folder name=".vscode" />
				<Folder name=".vwdesigner" />
				<Folder name="libs" />
				<Folder name="properties" />
			</Folders>
			<Files>
				<File name="manifest.json" />
				<File name="web.Debug.config" />
				<File name="web.Release.config" />
				<File name="appsettings.json" />
				<File name="webx_Client.Restriction.config" />
				<File name="favicon.ico" />
				<File name="_icon.ico" />
				<File name="index.html" />
				<File name="views\MainView.html" />
			</Files>
		</DesignItems>
	</DesignSystem>
	<ProjectSystem visible="false" text="Projektkonfiguration" text1033="Project configuration" description="System 'Projektkonfiguration' kann ausgeblendet werden.">
		<!--START ProjectSystem Definitionen START -->
		<Global visible="true" enabled="true" text="Global" text1033="Global" decription="Konfiguartion 'Global' kann ausgeblendet oder Schreibgeschützt dargestellt werden.">
			<Parameters>
				<Parameter identifier="ProjectVersion" enabled="false" text="Version" text1033="Version" decription="Eigenschaft 'Version' kann Schreibgeschützt dargestellt werden." />
				<Parameter identifier="Developer" enabled="false" text="Entwickler" text1033="Developer" decription="Eigenschaft 'Entwickler' kann Schreibgeschützt dargestellt werden." />
				<Parameter identifier="Customer" enabled="false" text="Kunde" text1033="Customer" decription="Eigenschaft 'Kunde' kann Schreibgeschützt dargestellt werden." />
				<Parameter identifier="Comment" enabled="false" text="Kommentar" text1033="Comment" decription="Eigenschaft 'Kommentar' kann Schreibgeschützt dargestellt werden." />
			</Parameters>
		</Global>
		<ServerComponents visible="true" enabled="true" text="Serverkomponenten" text1033="Server components" decription="Konfiguration 'Serverkomponenten' kann ausgeblendet oder Schreibgeschützt dargestellt werden." />
		<RunTime visible="true" enabled="true" text="Laufzeit" text1033="Runtime" decription="Konfiguration 'Laufzeit' kann ausgeblendet oder Schreibgeschützt dargestellt werden." />
		<Client visible="true" enabled="true" text="Client/Applikation" text1033="Client/Application" decription="Konfiguration 'Client/Applikation' kann ausgeblendet oder Schreibgeschützt dargestellt werden." />
		<CrossReference visible="true" text="Kreuzrefrenze" text1033="Cross reference" decription="Konfiguration 'Kreuzrefrenze' kann ausgeblendet werden." />
		<LicenseInformation visible="true" enabled="true" text="Lizenzinformation" text1033="License information" decription="Konfiguration 'Lizenzinformation' kann ausgeblendet oder Schreibgeschützt dargestellt werden." />
		<!--ENDE ProjectSystem Definitionen ENDE -->
	</ProjectSystem>
	<ItemSystem visible="false" text="Variablen" text1033="Variables" description="System 'Variablen' kann ausgeblendet werden.">
		<!--START ItemSystem Ordner START -->
		<Multiplexers visible="true" text="Multiplexer" text1033="Multiplexer" description="Ordner 'Multiplexer' kann ausgeblendet werden." />
		<MultiplexerConfiguration visible="true" enabled="true" text="Konfiguration (Multiplexer)" text1033="Configuration (Multiplexer)" description="Definition 'Konfiguration (Multiplexer)' kann ausgeblendet oder Schreibgeschützt dargestellt werden." />
		<Multiplexer maxCount="10" enabled="true" text="Multiplexer">
			<Parameters>
				<!--Name	ItemSwitch	Comment-->
				<Parameter identifier="Comment" enabled="true" type="text" fixedValue="" text="Kommentar" text1033="Comment" decription="Parameter 'Kommentar' kann Schreibgeschützt dargestellt werden. Kann auch mit ein fixedValue belegt werden." />
			</Parameters>
		</Multiplexer>
		<MultiplexerItem maxCount="1000" pageMaxCount="100" text="Multiplexer Element" />
		<!--ENDE ItemSystem Definition ENDE -->
	</ItemSystem>
	<TextSystem visible="false" text="Sprachumschaltung" text1033="Language switching" description="System 'Projektkonfiguration' kann ausgeblendet werden.">
		<!--START ItemSystem Ordner START -->
		<Configuration visible="true" text="Konfiguration" text1033="Configuration" description="Ordner 'Konfiguration' kann ausgeblendet werden." />
		<Languages visible="true" text="Sprachen" text1033="Languages" description="Ordner 'Sprachen' kann ausgeblendet werden." />
		<FontClasses visible="true" text="Fontklassen" text1033="Font classes" description="Ordner 'Fontklassen' kann ausgeblendet werden." />
		<Fonts visible="true" text="Fonts" text1033="Fonts" description="Ordner 'Fonts' kann ausgeblendet werden." />
		<Groups visible="true" text="Textgruppen" text1033="Text groups" description="Ordner 'Textgruppen' kann ausgeblendet werden." />
		<!--ENDE ItemSystem Ordner ENDE -->
		<!--START TextSystem Definition START -->
		<Language enabled="true" maxCount="12" text="Sprache" text1033="Language" description="Definition 'Sprache' kann Schreibgeschützt dargestellt werden. maxCount=Einschränkung Maximale Anzahl." />
		<!--Group enabled="true" pageMaxCount="10" maxCount="100" text="Textgruppe" text1033="Text group" description="Definition 'Textgruppe' kann Schreibgeschützt dargestellt werden. maxCount=Einschränkung Maximale Anzahl. pageMaxCount=Maximale Anzahl pro Textgruppe." /-->
		<!--Text enabled="true" pageMaxCount="30" maxCount="3000" text="Text" text1033="Text" description="Definition 'Text' kann Schreibgeschützt dargestellt werden. maxCount=Einschränkung Maximale Anzahl. pageMaxCount=Maximale Anzahl pro Textgruppe. Die einzelnen Parameter diese Definition kann gesteuert werden.">
			<Parameters>
				<Parameter identifier="Text.Description" enabled="true" type="text" fixedValue="" text="Beschreibung" text1033="Description" decription="Parameter 'Beschreibung' kann Schreibgeschützt dargestellt werden. Kann auch mit ein fixedValue belegt werden." />
				<Parameter identifier="Text.1031" enabled="true" type="text" fixedValue="Hallo Hayrettin." />
				<Parameter identifier="Text.1033" enabled="true" type="text" fixedValue="Hello Hayrettin." />
			</Parameters>
		</Text-->
		<Font enabled="true" maxCount="60" text="Font" text1033="Font" description="Definition 'Font' kann Schreibgeschützt dargestellt werden. maxCount=Einschränkung Maximale Anzahl. Die einzelnen Parameter diese Definition kann gesteuert werden.">
			<Parameters>
				<!--Name	StrikeThrough	Bold	FontName	Size	UnderLine	Italic-->
				<Parameter identifier="FontName" enabled="true" type="text" fixedValue="Tahoma" />
			</Parameters>
		</Font>
		<FontClass enabled="true" maxCount="120" text="Fontklasse" text1033="Font class" description="Definition 'Fontklasse' kann Schreibgeschützt dargestellt werden. maxCount=Einschränkung Maximale Anzahl. Die einzelnen Parameter diese Definition kann gesteuert werden.">
			<Parameters>
				<!--Name	Text.1033	Text.1031-->
				<Parameter identifier="Text.1031" enabled="true" type="text" fixedValue="Tahoma12" />
				<Parameter identifier="Text.1033" enabled="true" type="text" fixedValue="Tahoma12Bold" />
			</Parameters>
		</FontClass>
		<!--ENDE TextSystem Definition ENDE -->
	</TextSystem>
    <AlarmSystem visible="false" />
    <!--TrendSystem visible="false" /-->
    <!--RecipeSystem visible="false" /-->
    <UserSystem visible="false" />
    <!--LogSystem visible="false" /-->
    <!--SuperVisionSystem visible="false" /-->
</ProjectRestrictions>