<?xml version="1.0" encoding="utf-8"?>
<!--VisiWin 7 Device Settings file-->
<DeviceSettings>
  <Device name="CustomDevice" deploymentDirectory="EasyUI-Web" startURL="http://%TargetDeviceAddress%:80/easyui/GTUI_Client">
    <Platform type="Win32" />
    <Display type="Color" width="1280" height="800" />
    <Restrictions enabled="True" configFile="TecnoCatTest_Client.Restriction.config" />
    <Communication selecteddevicecommunicator="RemoteAccessManager" />
  </Device>
</DeviceSettings>