<?xml version="1.0" encoding="utf-8"?>
<!--VisiWin 7 Device Settings file-->
<DeviceSettings>
  <Device name="c520" deploymentDirectory="EasyUI" vendor="Lenze" startURL="http://%TargetDeviceAddress%:80/easyui/%ProjectName%">
    <Platform type="Win32" />
    <Display type="Color" width="640" height="480" />
    <Restrictions enabled="False" configFile="" />
    <Communication selecteddevicecommunicator="RemoteAccessManager" />
  </Device>
</DeviceSettings>